<html>
<head>
  <title>Music</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form class="box"  onsubmit="wel.html">
    <h1>Login</h1>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" nmae="" value="Login">
    </form>
  </body>
  </html>